body {
    font-family: "Avenir Next";
}
.main-title {
    text-align: center;
    text-transform: uppercase;
}
li {
    list-style: none;
}
.title {
    text-transform: uppercase;
    font-weight: 600;
}
.comment {
    border: 1px solid #808080;
    color: #707070;
    padding: 1rem;
    margin-bottom: 1rem;
}
.post {
    padding: 2rem;
    border: 1px solid #808080;
    margin-bottom: 2rem;
}
